input.add-backlog-item
{
	border: 1px solid #7FB6CB;
  border-radius: 4px 4px 4px 4px;
  font-size: 2em;
  height: 35px;
  padding: 0 10px;
	box-shadow: 0px 1px 3px #666
}

.box .backlog-box
{
	background-color:#ecf1f3;
	padding: 6px 0;
}

ul.backlog-items
{
	margin-bottom:5px;
}

.backlog-items > li,
.backlog-list-item
{		
	border-top:1px dotted #B9CBD5;
	padding:0 0.5em 0;
	margin:0;
}


.backlog-items > li.selected
{
	background-color:#c8d7dd;
	cursor:pointer;
}


.backlog-items > li h3,
.backlog-list-item h3
{
	color:#333;
	font-size:1.2em;	
	margin-bottom:0.5em;
}

/************ headings ****************/

.backlog-list-heading
{
	border-bottom: 1px dotted #B9CBD5;
    margin-bottom: 12px;
    padding-bottom: 4px;
}

.backlog-list-heading h3
{
	float:left;
	color:#000;	
	font-size:.9em;
}

.backlog-list-heading h3.todo
{
	margin-left:10%;
}
.backlog-list-heading h3.doing
{
	margin-left:32%;
}

.backlog-list-heading h3.done
{
	margin-left:34%;
}


.status
{	
	margin-left:8.5%;    
	padding:4px;	
	width:50px;	
}

.status.todo
{
	background-color:#91bfd2;	
}
.status.ongoing
{
	background-color:#439fc4;
	margin-left: 44%;
}
.status.done
{
	background-color:#77b791;
	margin-left: 81.5%;
}

.backlog-items > li > p.description
{
	color:#3b3b3b;
}

.backlog-item-info
{	
	color:#888e8a;
	background-color:#dccfbe;
	padding: 2px 4px;
	border-radius:4px;
	display:inline;	
	margin: 0 8px 0 0;	
	font-size: 0.8em;
}

.backlog-items > li .sprint,
.backlog-list-item .sprint
{
	color: #7c9eae;
	background-color:#C9E1EA;
}

.backlog-selector
{
	float:left;
	margin:20px;
}

.backlog-menu
{
	width:12%;
	float:left;
	margin-right:20px;
	background-color:#3b6f85;		
}

.backlog-menu li
{
	border-bottom:1px solid #57a4c4;
	margin: 2px 8px 4px;
}
.backlog-menu li a
{
	color: #FFFFFF;
    display: block;
    font-size: 0.9em;
    margin: 6px 0;
    padding: 5px;
    text-decoration: none;
    border-radius:3px;
}
.backlog-menu li a.active
{
	background-color:#75A2B7;
	color:#111;
}
.backlog-menu li a:hover
{
	background-color:#9dcbe3;
	color:#000;
}

.workarea
{
	float:left;
	width:85%;
}

