input.add-backlog-item
{
	border: 1px solid #7FB6CB;
  border-radius: 4px 4px 4px 4px;
  font-size: 2em;
  height: 35px;
  padding: 0 10px;
	box-shadow: 0px 1px 3px #666
}

ul.backlog-items
{
	margin-bottom:5px;
}

.backlog-items > li,
.backlog-list-item
{
	/*background-color:#B9CBD5;
		border-radius:6px;
		margin-bottom: 0.5em;
		padding:10px 5px;*/
		
	border-bottom:1px dotted #B9CBD5;
	padding:1em 0.5em;
		margin:0;
}

.backlog-items > li:last-child
{
	border:none;
}

.backlog-items > li.ui-selected,
.backlog-items > li:hover
{
	/*background-color:#93b2c0;*/
		background-color:#E3ECEF;

	cursor:pointer;
}

.backlog-items > li > h3,
.backlog-items > li > p.description
.backlog-list-item h3,
.backlog-list-item .description
{
	float:left;
}

.backlog-items > li h3,
.backlog-list-item h3
{
	color:#333;
	font-size:1.2em;
	margin-left: 10px;
}

.status
{
	text-transform:lowercase;
	color:#fff;
	font-size:.9em;
	margin-left:10px;
	padding:4px;
}

.status.todo
{
	background-color:#888;	
}
.status.ongoing
{
	background-color:#CF9700;
}
.status.done
{
	background-color:#0ABF00;
}

.backlog-items > li > p.description
{
	color:#3b3b3b;
}

.backlog-items > li .backlog-item-info
{
	float:right;
	color:#638F9F;
}

.backlog-items > li .sprint,
.backlog-list-item .sprint
{
	/*background-color:#FF9C00;
	color:#fff;
	padding:2px;
	border-radius: 0 0 5px 5px;
	margin-top:-5px;
	position:relative;
	margin-right:20px;*/

	color: #FF9C00;
	height: 1.2em;
	line-height: 1.7em;
	margin: 0 10em 0 0;
	position: relative;
}


.backlog-items > li .points,
.backlog-list-item .points
{
		color:#638F9F;
    float: right;
    font-size: 1.5em;
    margin: 0 20px 0 0;
}

