.timestamp
{
	font-size:.8em;	
}

/* img by title */
.backlog .title > img
{
	vertical-align: bottom;
	margin-right: 5px;
}

.backlog-item
{
	border-bottom: 1px solid #ccc;
	padding: 1em;
	margin:0;
}

.backlog-item .buttons,
.create-item-button
{
	float:right;
}

.backlog-item .buttons
{
	margin-left:10px;
}

ul.backlog-items li.selected
{
	background: none repeat scroll 0 0 rgba(174, 207, 221, 0.5);
}

.backlog-items li:first-child
{
	border-top:1px solid #ccc;
}

.backlog-items li:nth-child(odd)
{
	background-color:#efefef;
}

.backlog-items li .points
{
		margin:0;
		-moz-border-radius: 2px;
		border-radius:2px;
    background-color: #FFF1AF;
    border: 1px solid #FFD100;
    float: right;
		padding: 2px 5px 0;
		line-height:21px;
}

div.box-content .backlog-items li .tag
{
		margin:0 5px;
		-moz-border-radius: 2px;
		border-radius:2px;
    background-color: #6299AF;
    border: 1px solid #326378;
    float: right;
		padding: 2px 5px 0;
		line-height:21px;
		color:#fff;
}

#edit_backlog_item_tags
{
	margin:5px 0;
}

div.box-content .backlog-items form li.tag
{
	float:left;
}

.tag a.removeTag,
.tag a.removeTag:hover
{
	background:none;
	border:none;
	padding:0;
}

.tag a.removeTag span.icon
{
	margin:0 0 0 2px;
}

