.backlogs > li
{
  margin: 5px 0 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a.create-new-backlog-link
{
  float:right;
  color:#f8f8f8;
  text-decoration:none;
  border-bottom:1px dotted;
}
a.create-new-backlog-link:hover
{
  color:#f8f8f8;
  border-bottom:1px dotted;
}

.create-new-backlog form
{
  padding:10px;
}

.create-new-backlog form input
{
  font-size:1.8em;
}

.create-backlog-page
{
  padding:0 20%;
}

.backlogs > li:last-child
{
  margin-bottom:0;
  border-bottom:none;
}

.backlogs > li img
{
  height: 12px;
  margin-left: 10px;
  vertical-align: bottom;
}

.backlogs > li > a
{

  color: #EFEFEF;
  display: block;
  font-size: 1.4em;
  margin:5px 0;
  padding: 0.7em;
  text-decoration: none;
}

.backlogs > li > a:hover
{	
  background:rgba(255, 255, 255, 0.1);
}
