.backlog-page h1
{
	float:left;
	line-height: 1.9em;
}

.backlog-page .backlog-header
{
	float:right;
	padding:0;
}

.timestamp
{
	font-size:.8em;	
}

/* img by title */
.backlog .title > img
{
	vertical-align: bottom;
	margin-right: 5px;
}

.backlog-item
{	
	border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  margin: 10px 0;
  padding: 1em;
}

.backlog-item .handle
{
	background: url(/images/grippy.png) no-repeat 4px 50%;
	cursor:move;
	width:16px;
	height:15px;
	display:block;
	float:left;
	text-indent:-10000px;
}

.backlog-item .buttons,
.create-item-button
{
	float:right;
}

.backlog-item .buttons
{
	margin-left:10px;
}

ul.backlog-items li.selected
{
	background: none repeat scroll 0 0 rgba(174, 207, 221, 0.5);
}

.backlog-items li:first-child
{
	border-top:1px solid #ccc;
}

.backlog-items li:nth-child(odd)
{
	background-color:#efefef;
}

.backlog-items li .points
{
		margin:0;
		-moz-border-radius: 2px;
		border-radius:2px;
    background-color: #FFF1AF;
    border: 1px solid #FFD100;
    float: right;
		padding: 2px 5px 0;
		line-height:21px;
}

div.box-content .backlog-items li.tag,
div.box-content .backlog-items li p.tag
{
		margin:0 5px;
		-moz-border-radius: 2px;
		border-radius:2px;
    background-color: #6299AF;
    border: 1px solid #326378;
    float: right;
		padding: 2px 5px 0;
		line-height:21px;
		color:#fff;
}

#edit_backlog_item_tags
{
	margin:5px 0;
}

div.box-content .backlog-items form li.tag
{
	float:left;
}

.tag a.removeTag,
.tag a.removeTag:hover
{
	background:none;
	border:none;
	padding:0;
}

.tag a.removeTag span.icon
{
	margin:0 0 0 2px;
}

