div.box
{
    background: none repeat scroll 0 0 rgba(174, 207, 221, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 9px;
    margin-bottom:1em;
    color:#fff;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

div.box-light
{
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	color: #efefef;
	margin-bottom: 1em;
}

.column-right
{
	float: left;
    margin-top: 5%;
    padding: 20px;
}

div.box-light div.box-content
{
	padding: 0 5px;
}

div.box div.box-content
{
    /*background:#fff url(/images/box/heading-bg.png) repeat-x top left;*/
    background:#fff;
    border: 1px solid #326378;
    padding: 6px 6px 0;
 
    color:#000;
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.65);
    -moz-border-radius: 0px;
}

div.box > ul
{
  border: 1px solid #326378;
	background-color:#fff;
	padding:10px;
}

div.box .collaborator-image-list p
{
	color:#666;
	font-size:0.8em;
	text-align: center;
}

div.box > ul > li
{
	margin:0 5px 0 0;
	float:left;
}

div.box > form
{
	margin:0.5em 0;
  background: #7099AB; 
}

div.box #new_sprint
{
	display:none;
	background:#fff url(/images/box/heading-bg.png) repeat-x top left;
	margin: 0;
  padding: 5px 10px;
}

div.box label.boxed-label
{
	color:#333;
}
div.box input.boxed-input
{
	width:7em;
}

div.box .add-sprint-block
{
	background:#fff url(/images/box/heading-bg.png) repeat-x top left;
	padding: 5px 0 5px 10px;
}

div.box-tab
{
	background: none repeat scroll 0 0 rgba(174, 207, 221, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom:none;
  display: inline;
	padding: 2px 4px;
  margin-left:10px;

  border-radius:2px 2px 0 0; 
}

div.box-tab > h2.left-aligned-header
{
	font-size:0.95em;
	display:inline-block;
	color:#fff;
	letter-spacing: 1px;
	line-height: 1.2em;
	padding: 5px 2px 3px;
}

div.box div.box-content h2
{
	color:#556970;
	font-size: 1.6em;
  line-height: 40px;
  margin-bottom:6px;
  padding-left:20px;
}

div.box > div
{
	background-color: #fff;
}


a.box-link
{
	color: #fff;
}

a.box-link:hover
{
	color:#ddd;
}

div.box dl
{
	margin-bottom:5px;
}

div.box dl > dt
{
		color: #333;
    float: left;
    margin: 0;
    width: 115px;
}

