#breadcrumb,
#breadcrumb li
{
	list-style-type:none;		
}

#breadcrumb-pre,
#breadcrumb-post
{
	background:transparent url(/images/breadcrumb/left-right.png) no-repeat left 2px;
	width:13px;
	height:100%;
	margin:0;
	float:left;
}

#breadcrumb-pre
{
	background-position:right -29px;
	margin-left:20px;
}


#breadcrumb
{   
	background: transparent url(/images/breadcrumb/bg.png) repeat-x top left;
  float:left;
	height: 34px;
	margin: 2px 0 0 0;
	padding: 0;	
}

#breadcrumb > li
{
	background: url(/images/framework-sprite.png) no-repeat scroll right top transparent;    
	float:left;	
	line-height: 32px;
	color:#fff;
  padding: 0 18px 0 0;
}

#breadcrumb > li:last-child
{
	background: none;
	padding:0 5px 0 0;
}

#breadcrumb > li a
{
	color:#fff;
	text-decoration:none;
	letter-spacing: 0.2px;
  padding: 0 0.5em;
}
#breadcrumb > li a:hover
{
	color:#fff;
}
