h1,h2,h3,h4,h5
{
	font-size:3em;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);	
	line-height:1em;	
	color:#efefef;
}
h1
{
	margin-bottom:.3em;
	text-shadow:1px 1px 1px #333;
}
h2
{
	font-size:1.8em;
	line-height:1.8em;
}
h3
{
	font-size:1.3em;
	line-height:1.3em;
}
h4
{
	font-size:1.2em;
	line-height:1.2em;
}
h5
{
	font-size:1em;
	line-height:1em;
}

h1 > img,
li > img
{
	vertical-align:bottom;
}

h1 > img.gravatar,
li > img.gravatar
{
		border: 1px solid #DDDDDD;
}

form
{
	margin:0 0 1em 0;
	clear:both;
}

fieldset
{
	margin:1em 0;
}

fieldset legend
{
	font-weight:bold;	
	margin-bottom:0.5em;
}

fieldset > ol li,
form > ol li
{
	margin-bottom:1em;
}

fieldset > ol li label,
form > ol li label
{
		display: block;
    float: left;
    line-height: 2em;
    width: 10em;
}

p
{
	margin-bottom:10px;
	line-height:1.2em;
}

ul > li
{
	margin:0 0 1em 0;
}

ul,
ul > li,
menu > li
{
	list-style-type:none;
}

ul > li > p
{
	margin:5px 0;
}



a:link,
a:visited,
a:active
{
	color: #000;
}
a:hover
{
	color:#888;
}


