html
{
	background: #12252e;
}

body 
{	
	font: 13px/1em Trebuchet MS;
	color:#13252C;	
}

/******************************/
/*        Heading style       */
/******************************/
header
{
	height:128px;
	background:#326378	url(/images/heading/heading-bg.jpg) no-repeat top left;
}

#main-header
{	
	height:55px;
	position:relative;
}

#sub-header
{
  color: #7B7B7B;
}

#bottom-header
{
	height:30px;
	background:transparent url(/images/heading/heading-bottom-border-bg.png) repeat-x bottom left
}

#breadcrumb-container
{
	background:transparent url(/images/heading-gray-menu/left-block-bg.png) repeat-x top left;
	float:left;
	width:70%;
}

#sub-header,
#breadcrumb-container,
#top-menu-container
{
	line-height: 34px;
	height: 34px;
	padding: 4px 0;
}

/* logotype style */

#main-header a .logo
{
	position:relative;
	top:10px;	
	display:block;
	float:left;
	left:40px;
}

/* Top right links */

#main-header .user-info
{	
	float:right;
	padding: 10px;
}

.user-info a
{
	color:#fff;
}

.user-info a:hover
{
	color:#ccc;
}

/* top menu style */
#top-menu-container
{
	background:transparent url(/images/heading-gray-menu/right-block-left.png) repeat-x top left;
	float:left;
	width:30%;
}

#top-menu
{
	margin: 0 0 0 1em;
	padding-top:2px;
}

/******************************/
/*        Page style          */
/******************************/

#page
{
  	background:#326378;	
    min-height: 520px;
    padding: 1% 2%;
  	color:#efefef;
}

/******************************/
/*        Footer style        */
/******************************/

footer
{
		background: #12252e url(/images/footer-top.png) repeat-x;		
    color: #69A5E0;
    padding: 20px;
    height:100%;
}

footer section
{
	text-align:center;
	color:#C1CED4;
	/*text-shadow: 0 1px 1px #EFEFEF;*/
}

footer section.info
{
	float:right;	
	max-width: 50%;
}

#info-nav	
{	
  padding:5px 0;  	
}


#info-nav a
{
	color:#6F6F6F;
}

#info-nav a:hover
{
	color:#3F3F3F;
}

#copyright
{
	font-weight:bold;
}

/******************************/
/*        Column style        */
/******************************/

.column,
.small-column,
.large-column
{
	width:49%;
	float:left;
	padding:1% 0;
	margin:0 1% 0 0;	
}

.large-column
{
	width:65%;
}

.small-column
{
	width:30%
}

#page > section.column:last-child
{
	margin:0 0 0 1%;	
}


/******************************/
/*        Box style           */
/******************************/
div.box
{
    background: none repeat scroll 0 0 rgba(174, 207, 221, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 9px;
    margin-bottom:1em;
    color:#fff;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
div.box div.box-content
{
    background: none repeat scroll 0 0 white;
    border: 1px solid #326378;
    padding: 20px;
    color:#000;
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.65);
    -moz-border-radius: 0px;
}

div.box div.box-content h2
{
		background: -moz-linear-gradient(center top , #71CAF2, #0FA0D1) repeat scroll 0 0 transparent;
    border-color: #D8F1FC;
    border-style: solid;
    border-width: 1px;    
    height: 25px;
    line-height: 25px;
    margin: 4px 0 0 20px;
    padding:5px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);    
    border-radius:3px;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#71CAF2), to(#0FA0D1)); 
		background: -webkit-linear-gradient(#71CAF2, #0FA0D1);  
		background: -o-linear-gradient(#71CAF2, #0FA0D1);


		font-size: 1.5em;
		position: relative;
		top: -36px;
		display:inline;
}


a.box-link
{
	color: #fff;
}

a.box-link:hover
{
	color:#ddd;
}


div.box dl
{
	margin-bottom:5px;
}

div.box dl > dt
{
		color: #333;
    float: left;
    margin: 0;
    width: 115px;
}

/******************************/
/*     Statistics style       */
/******************************/

div.statistic
{
	float:left;
	margin-right:2em;
}

div.statistic strong
{
	font-size:2em;
	display:block;
	line-height:1em;
	text-align:center;
}

/******************************/
/*     Admin style       */
/******************************/

div.admin a
{
	float:right;
}

div.admin a.button span.icon
{
	top:1px;
}

/******************************/
/*     Flash style            */
/******************************/

#header-messages
{
	float:right;
}

.flash
{
	padding:0 15px;
}

.flash.success
{
	color:#3E6F0D;
}

.flash.error
{
	color:#6F0907;
}

/******************************/
/*     form field style       */
/******************************/

div.field
{
	margin:0 0 1em 0;
}

div.field label
{
	line-height:1.1em;
	display:block;
	margin-bottom:0.2em;
}

/******************************/
/*     users style            */
/******************************/

.users a
{
	font-size: 1.2em;
  line-height: 2em;
  margin-left: 0.4em;
  vertical-align: middle;
}


/******************************/
/*     Generic style          */
/******************************/
.hidden
{
	display:none;
}
