.active-droppable
{
	background-color: yellow;
}

a .over
{
	padding:0 5px;
	color: #3c3c3c;
	background-color:yellow;

}

.sprint-items > li
{
	background-color:#D1DADF;
	border-radius:6px;
	padding:0px;
	margin-bottom: 0.5em;
}

.sprint-items > li > a
{
	display:block;
	padding:10px;
}

.sprint-items > li:nth-child(even)
{
	background-color:#C3D6DF;
}

.sprint-items > li.selected,
.sprint-items > li:hover
{
	background-color:#93b2c0;
}
