<h1>All users</h1>

<section class="column">
	<%= will_paginate %>
	
	<div class="box">
		<div class="box-content">
			<ul class="users">
				<%= render @users %>
			</ul>
		</div>
	</div>
	
	<%= will_paginate %>
</section>

<section class="column">
	<div class="box">
		<div class="box-content">
			<h2>Invite new user</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed mauris orci. Curabitur congue odio vitae dui pellentesque vulputate. Etiam vulputate mauris eget ipsum interdum in aliquam metus convallis. Mauris metus nulla, ultricies nec condimentum sit amet, interdum vel dolor. Sed odio nisi, placerat ac ornare eu, varius eget felis. Nulla nec metus sem. Suspendisse potenti. Donec egestas tristique leo a semper. Nulla facilisi. Vestibulum rhoncus, orci vel varius aliquet, magna diam dapibus augue, nec feugiat nisl libero in augue. </p>
		</div>
	</div>
</section>


