<h1>All users</h1>

<section class="column">
	<%= will_paginate %>
	
	<div class="box">
		<div class="box-content">
			<ul class="users">
				<%= render @users %>
			</ul>
		</div>
	</div>
	
	<%= will_paginate %>
</section>
