<h1>Sprints in <%= @backlog.title %></h1>

<section class="large-column">	
	<div class="box">
		<div class="box-content">
			<h2 class="box-heading">Sprints</h2>
			<ul class="sprints fc">
				<%= render @sprints %>
			</ul>
		</div>
	</div>
</section>	
