<h1>AgileArena</h1>

<section class="column">
	<div class="box">

		<h2>A simple and fast collaboration tool for agile projects</h2>

		<p>Do you practice Scrum, Kanban, extreme programming or perhaps some other agile methodology?</p>

		<p>AgileArena is a new upcoming project collaboration tool, initially started to support scrum where the main reason was having an easy and intuitive way to create and maintain the backlog.</p>

		<p>It now strives to be an online service where simplicity and speed are key concepts. One major design goal is to facilitate the agile process within your projects. This in turn will save you both time and money along with keeping up morale amongst your team members.</p>

	</div>
</section>
<section class="column">
	<div class="box">
			<div class="box-content">
				<p>Don't have a login?
				Then you should probably
				<%= link_to "sign up", signup_path, :class => "signup_button button" %>
				now since it is free.</p>
				<p>It will continue to be free while in beta, then in cooperation with the existing users, a payment plan will
				be decided.</p>
				<p>As it looks right now, public backlog will probably always be free and restrictions added for private ones.</p>
			</div>
	</div>
</section>
<div style="clear:both"></div>
