<h1>AgileArena</h1>
<h2>- work your agile magic</h2>


<section class="double-column">
	<div class="box">
		<div class="box-content">
		Hi thar, welcome to the über-collaboration-tool
		</div>
	</div>
</section>
<section class="double-column">
	<div class="box">
			<div class="box-content">
				Don't have a login?
				<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
			</div>
	</div>
</section>

