<% if backlog.can_show_to current_user %>
<li class="backlog">
    <p class="title">
		  <% if backlog.private %>
			  <%= image_tag "lock.jpg", :alt => "private", :title => "private" %>
		  <% end %>
		  
     	<%= link_to backlog.title, backlog %> 
    </p> 
	  <p class="timestamp">
      Created <%= time_ago_in_words(backlog.created_at) %> ago.
    </p>
</li>
<% end %>
