<section class="column">
	<div class="box">		
		<div class="box-content">
			<h2>Backlogs</h2>
			<% unless @user.backlogs.empty? %>
				<ul class="backlogs fc">
					<%= render @backlogs %>
				</ul>
				<%= will_paginate @backlogs %>
			<% end %>
		</div>
	</div>
</section>


<section class="column" id="new_backlog_form">
	<% unless @backlog.nil? %>
		<div class="box">
				<div class="box-content">
					<h2 class="box-heading">Create new backlog</h2>
					<%= render "backlogs/new_backlog_form" %>
				</div>
		</div>
	<% end %>
</section>
