<section class="create-backlog-page">
	<% unless @backlog.nil? %>
		<h1 class="left-aligned-header">Create new backlog</h1>
		<div class="box-light">
				<div class="box-content create-new-backlog">
					<%= render "backlogs/new_backlog_form" %>
				</div>
		</div>
	<% end %>
</section>
