<li class="backlog-item" data-id="<%= backlog_item.id %>">
		<% if backlog_item.is_allowed_to_delete(current_user)  %>
			<a href="#" class="button right delete" >Delete</a>
		<% end %>
		<% if backlog_item.is_allowed_to_edit(current_user)  %>
			<a href="#" class="button right edit" >Edit</a>
		<% end %>
    <p class="title"><%= backlog_item.title %></p>  
	  <p class="timestamp">
      Created <%= time_ago_in_words(backlog_item.created_at) %> ago.
    </p>
</li>
