<footer>
  ﻿<section>
		<span id="copyright">© 2011 Agilearena Inc. All rights reserved.</span>
		<nav id="info-nav">
			<%= link_to "About", about_path %>
			<%= link_to "Contact", contact_path %>
			<%=#	@Html.ActionLink("Terms of Service", "Termsofservice", "Info")
			#@Html.ActionLink("Privacy", "Privacy", "Info")
			#@Html.ActionLink("Security", "Security", "Info") 
			%>
		</nav>
	</section>
	<section class="info">
		<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis rutrum tortor, eu dictum libero bibendum ac. Aenean sed magna eu sapien iaculis egestas vel consequat mi. Maecenas sodales consectetur leo, pharetra ornare eros convallis at. Quisque eget enim nulla, nec sollicitudin metus. </span>
	</section>
</footer>

