<footer class="fc">
  ﻿<section>
		<span id="copyright">© 2011 Agilearena Inc. All rights reserved.</span>
		<nav id="info-nav">
			<%= link_to "About", about_path %>
			<%= link_to "Contact", contact_path %>			
		</nav>
	</section>	
</footer>

